.font-block {
  font-size: 48px;
  background-image: linear-gradient(to bottom,rgb(90, 151, 169), rgba(90, 151, 169, 0.4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    background-image: linear-gradient(to bottom, rgba(90, 151, 169, 0.4), rgb(90, 151, 169));
    cursor: pointer;
  }
}